<h1>Explore our classes</h1>
<div class="gallery-row">
<% @all_classes.each do |gymclass| %>
        <div class="gallery-column">
            <img src=<%= gymclass.url %> width="425" height="350" />
            <p><%=gymclass.name().capitalize()%></p>
            <p>There are <%=gymclass.capacity%> spaces left in this class</p>
            <p><a href="/book/<%=gymclass.id()%>"><button>Book a place in <%=gymclass.name()%></button></a></p>
        </div>
<% end %>
</div>