<h1>Edit your details below</h1>
<hr>
<div class="member-edit">
    <div class="member-edit-form">
        <form method="post" action="/edit/<%=@find_member.id()%>/<%=@find_membership_details.id()%>">
    
            <label for="edit-first-name">First name</label>
            <input type="text" id="edit-first-name" name="first_name" value=<%=@find_member.first_name()%>>
    
            <label for="edit-last-name">Last name</label>
            <input type="text" id="edit-last-name" name="last_name" value=<%=@find_member.last_name%>>
    
            <label for="edit-age">Age</label>
            <input type="number" id="edit-age" name="age" value=<%=@find_member.age()%>>
    
            <label for="edit-membership-tier">Membership tier</label>
            <select id="edit-membership-tier" name="type" value=<%=@find_membership_details.type()%>>
                <option value="Premium">Premium</option>
                <option value="Standard">Standard</option>
            </select>

            <label for="edit-membership-status">Membership status</label>
            <select id="edit-membership-status" name="status" value=<%=@find_membership_details.status()%>>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
    
            <input type="submit" value="UPDATE"/>
    
        </form>
    </div>
</div>